
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
}

body {
  background-color: #eef1fb;
  color: #505e79;
}

.banner {
  background-image: url("./umt-cover-banner.png");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h6 {
  font-size: small;
}

p {
  font-size: small;
}

nav {
  padding: 10px;
  box-shadow: 0px 0px 5px #888888;
  background-color: white;
}

.taskbar {
  background-color: #fafbfc;
}

nav a:hover {
  background-color: #e6effc;
}

.logo-brand {
  width: 30px;
  height: 30px;
}

a {
  font-size: 0.9rem;
  font-weight: 600;
  color: #140330;
  text-decoration: none;
}

.icons {
  color: #505e79;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  filter: grayscale(65%);
  
}
.image2 {
  position: absolute;
  top: 40px;
  left: 20px;
  border: 3px solid white ;
}

#emailStyle a{
  font-weight: 500;
  font-size: medium;
}

#emailStyle a:hover{
  color: #03a9f4;
}

#specializationSection{
  /* border-top: 1px solid rgb(133, 133, 133); */
}

#specializationSection h5{
  font-size: 1rem;
}

#requestSection{
  background-image: url('/home/ibrahim.ahmed/Documents/fyp/fyp-fms/client/src/assets/sent_request.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  height: 250px;

}